@tailwind base;
@tailwind components;
@tailwind utilities;

@import "utils/text";

@import "components/button";
@import "components/form";
@import "components/menu";
@import "components/news";
@import "components/section";

[x-cloak] {
    display: none;
}

html {
    color: theme('colors.white') !important;
}

body {
    background: url("/images/texture/dark-blue.jpg");
}
