@tailwind base;
@tailwind components;

@tailwind utilities;

@import "components/form";


[x-cloak] {
    display: none;
}

html {
    color: theme('colors.white') !important;
}

body {
    background-color: theme('colors.brown.500') !important;
}
